<p-card styleClass="bg-white-alpha-30  shadow-none border-round-3xl border-3 border-solid border-white">
  <ng-template pTemplate="header">
    <div class="p-4 pb-0 ">
      <div class="grid g-2">
        <div class="col-12">
          <div class="flex flex-column md:flex-row align-items-center md:justify-content-between">
            <div>
              <!-- <h3 class="">{{service.title}}</h3>
              <p class="text-muted">{{service.description}}</p> -->
            </div>
            <div class="flex flex-column md:flex-row gap-2 gap-md-3 align-items-center">
              <div class="flex align-items-center">
                <div class="search-input-group">
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (keyup)="filterUpdate($event)"
                      [placeholder]="'public.search'|translate" />
                  </span>
                </div>
                <div class="mx-2">

                </div>
              </div>
              <div>
                <p-button [label]="'public.addNew'|translate" styleClass="p-2 p-button-raised"
                  icon="pi pi-plus"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <p-table #dt [value]="paging.data" [paginator]="true" [rows]="paging.pageSize" [totalRecords]="paging.totalItems"
    [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5, 10, 20]">

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="min-width:15%;">
          {{'public.companyName'|translate}} <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>{{'public.email'|translate}}</th>
        <th pSortableColumn="type" style=" min-width:15%; ">{{'public.phoneNumber'|translate}}</th>

        <th pSortableColumn="status" style=" width: 18%;">{{'public.status'|translate}} <p-sortIcon
            field="status"></p-sortIcon></th>
        <th style="min-width: 175px; width: 15%;text-align: center;">{{'public.actions'|translate}}</th>
      </tr>
      <!-- <th>
        <input pInputText type="text" (input)="dt1.filter($event.returnValue, 'name', 'contains')"
          [value]="dt1.filters['status']" placeholder="Search by Status" class="w-full">
      </th> -->
      <!-- <tr>
        <th style=" width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target, 'name', 'contains')"
            [value]="dt1.filters['name']" placeholder="Search by Name" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target, 'country', 'contains')"
            [value]="dt1.filters['country']" placeholder="Search by Country" class="w-full">
        </th>
        <th>
          <input pInputText type="text" (input)="dt1.filter($event.target, 'status', 'contains')"
            [value]="dt1.filters['status']" placeholder="Search by Status" class="w-full">
        </th>
      </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-company>
      <tr>
        <td>
          <p-tableCheckbox [value]="company"></p-tableCheckbox>
        </td>
        <td>

          {{company.name}}
        </td>
        <td>
          <span class="p-column-title">email</span>
          {{company.email}}
        </td>
        <td>
          <span class="p-column-title">email</span>
          {{company.phone}}
        </td>
        <!-- <td>
          <span class="p-column-title">Enable Portal</span>
          <p-tag [value]="service.enable?'Enabled':'Not Enabled'"
            [icon]="service.enable?'pi pi-check':'pi pi-times-circle'"
            [severity]="service.enable?'success':'danger'"></p-tag>

        </td> -->
        <td>
          <span class="p-column-title">Status</span>
          <p-tag [value]="company.status?'Active':'Not Active'"
            [icon]="company.status?'pi pi-check':'pi pi-times-circle'"
            [severity]="company.status?'success':'danger'"></p-tag>
        </td>

        <td>
          <div class=" text-center">
            <button pButton pRippl icon="pi pi-info" style="width: 40px; height: 40px;"
              class="p-button-outlined mr-2"></button>
            <button pButton pRippl icon="pi pi-pencil" routerLink="/modules/additem/personal"
              style="width: 40px; height: 40px;" class="p-button-outlined p-button-secondary mr-2"></button>
            <button pButton pRipple icon="pi pi-trash" style="width: 40px; height: 40px;"
              class="p-button-outlined p-button-danger"></button>
          </div>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>